﻿<!DOCTYPE html>

<head>
    <link href="~/css/navigation.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Home">Al Naseem</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Add_Students_In_Bulk">Add Student Data</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Grades">Grades</a></li>
            <li><a asp-area="" asp-controller="Student" asp-action="Print_Previous_Result">Previous Result</a></li>
            <li>
                <a asp-area="" asp-controller="Teacher" asp-action="teacher_index">Teacher</a>
                <ul>
                    <li><a asp-area="" asp-controller="Teacher" asp-action="teacher_index">Add Teacher</a></li>
                    <li><a asp-area="" asp-controller="Teacher" asp-action="teacher_index">Add Salary</a></li>
                </ul>
            </li>
            <li style="float:right"><a asp-area="" asp-controller="Login" asp-action="Logout" style="background-color:red">Logout</a></li>
        </ul>

    </nav>
</body>


