﻿@model LMS.Models.Subject
@{
    ViewData["Title"] = "Detail of Student";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<style>
    .disableDiv {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: black;
        z-index: 1;
        display: none;
    }
</style>

<body>


    <div class="container col-lg-10" id="std_detail">
        <h2>Edit Student @ViewBag.student.Roll</h2>
        <br />
        <label class="col-lg-3">Student Roll Number</label>
        <input type="text" placeholder="Enter Student's Roll Number" disabled id="s_id" name="Roll" value="@ViewBag.student.Roll" required>
        <br />
        <br />
        <label class="col-lg-3">Student Name (English)</label>
        <input type="text" placeholder="Enter Name in English" disabled id="s_name_e" name="Name_English" value="@ViewBag.student.Name_English" required>
        <br />
        <br />
        <label class="col-lg-3">Student Name (Arabic)</label>
        <input type="text" placeholder="Enter Name in Arabic" disabled id="s_name_a" name="Name_Arabic" value="@ViewBag.student.Name_Arabic" required>
        <br />
        <br />
        <label class="col-lg-3">Gender</label>
        <input type="text" placeholder="Enter Gender" disabled id="s_gender" name="Gender" value="@ViewBag.student.Gender" required>
        <br />
        <br />

        <label class="col-lg-3">Date of Birth</label>
        <input type="text" placeholder="Enter DOB" id="s_dob" disabled name="DOB" value="@ViewBag.student.DOB" required>
        <br />
        <br />
        <label class="col-lg-3">Place of Birth</label>
        <input type="text" placeholder="Enter POB" id="s_pob" disabled name="POB" value="@ViewBag.student.POB" required>
        <br />
        <br />
        <label class="col-lg-3">Nationality (English)</label>
        <input type="text" placeholder="Enter Nationality in English" disabled id="s_nationality_e" name="Nationality_English" value="@ViewBag.student.Nationality_English" required>
        <br />
        <br />
        <label class="col-lg-3">Nationality (Arabic)</label>
        <input type="text" placeholder="Enter Nationality in Arabic" disabled id="s_nationality_a" name="Nationality_Arabic" value="@ViewBag.student.Nationality_Arabic" required>
        <br />
        <br />
        <label class="col-lg-3">Phone Number</label>
        <input type="text" placeholder="Enter Phone Nymber" disabled id="s_phn" name="phone" value="@ViewBag.student.phone" required>
        <br />
        <br />
        <label class="col-lg-3">Passport Number</label>
        <input type="text" placeholder="Enter Student's Passport" disabled id="s_passport" name="Passport_Number" value="@ViewBag.student.Passport_Number" required>
        <br />
        <br />
        <label class="col-lg-3">Iqama Number</label>
        <input type="text" placeholder="Enter Student's Iqama" id="s_iqama" disabled name="Iqama_Number" value="@ViewBag.student.Iqama_Number" required>
        <br />
        <br />
        <label class="col-lg-3">Previous School (English)</label>
        <input type="text" placeholder="Previous School in English" disabled id="s_p_school_e" name="Previous_School_English" value="@ViewBag.student.Previous_School_English" required>
        <br />
        <br />
        <label class="col-lg-3">Previous School (Arabic)</label>
        <input type="text" placeholder="Enter Student's Previous School in Arabic" disabled id="s_p_school_a" name="Previous_School_Arabic" value="@ViewBag.student.Previous_School_Arabic" required>
        <br />
        <br />
        <label class="col-lg-3">Date of Admission</label>
        <input type="text" placeholder="Enter Student's Date of Admission" disabled id="s_doa" name="Date_Of_Admission" value="@ViewBag.student.Date_Of_Admission" required>
        <br />
        <br />
        <label class="col-lg-3">Student Grade</label>
        <input type="text" placeholder="Enter Student's Grade" id="s_grade" disabled name="Grade_Name" value="@ViewBag.student.Grade_Name" required>
        <br />
        <br />
        <input type="button" id="add_marks" name="add_marks" onclick="show()" value="Add Student Marks" />
        <input type="button" id="edit_marks" name="edit_marks" onclick="show1(event, @ViewBag.student.Roll)" value="Edit Student Marks" />
        <br />
        <br />
        
    </div>
    @using (Html.BeginForm("Add_subject_Marks", "Student", FormMethod.Post))
    {
    <div id="add_grades" hidden>
        <h1>Add Grades for student @ViewBag.student.Roll</h1>
        <br />
        <label class="col-lg-3">Student Roll Number</label>
        <input type="text" id="Student_Roll" readonly="readonly" name="Student_Roll" value="@ViewBag.student.Roll" />
        <br />
        <br />
        <label class="col-lg-3">Quran</label>
        <input type="number" id="Quran" name="Quran" max="50" min="0" required>
        <br />
        <br />
        <label class="col-lg-3">Islamic_Studies</label>
        <input type="number" id="Islamic_Studies" max="50" min="0" name="Islamic_Studies" required>
        <br />
        <br />
        <label class="col-lg-3">Arabic</label>
        <input type="number" id="Arabic" name="Arabic" max="50" min="0" required>
        <br />
        <br />
        <label class="col-lg-3">English</label>
        <input type="number" id="English" name="English" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Maths</label>
        <input type="number" id="Maths" name="Maths" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Science</label>
        <input type="number" id="Science" name="Science" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Social</label>
        <input type="number" id="Social" name="Social" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Computer</label>
        <input type="number" id="Computer" name="Computer" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Arts</label>
        <input type="number" id="Arts" name="Arts" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Conduct</label>
        <input type="number" id="Conduct" name="Conduct" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Attendance</label>
        <input type="number" id="Attendance" name="Attendance" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Grade</label>
        <input type="text" name="Class" readonly="readonly" value="@ViewBag.student.Grade_Name" />
        <br />
        <br />
        <label class="col-lg-3">Result Date</label>
        <input type="date" id="Result_Date" name="Result_Date" required />
        <br />
        <br />
        <label class="col-lg-3">Semester</label>
        <select name="Semester" id="semester">
            <option>1</option>
            <option>2</option>
        </select>
        <br />
        <br />
        <input type="submit" id="Add_course_marks" value="Add Marks" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="edit_marks" name="edit_marks" onclick="show1(event, @ViewBag.student.Roll)" value="Edit Student Marks" />
    </div>
    }

    @using (Html.BeginForm("Edit_subject_Marks", "Student", FormMethod.Post))
    {
    <div id="edit_grades" hidden>
        <h1>Edit Grades for student @ViewBag.student.Roll</h1>
        <br />
        <label class="col-lg-3">Student Roll Number</label>
        <input type="text" id="Student_Roll1" readonly="readonly" name="Student_Roll" value="@ViewBag.student.Roll" />
        <br />
        <br />
        <label class="col-lg-3">Quran</label>
        <input type="number" id="Quran1" name="Quran" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Islamic_Studies</label>
        <input type="number" id="Islamic_Studies1" name="Islamic_Studies" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Arabic</label>
        <input type="number" id="Arabic1" name="Arabic" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">English</label>
        <input type="number" id="English1" name="English" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Maths</label>
        <input type="number" id="Maths1" name="Maths" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Science</label>
        <input type="number" id="Science1" name="Science" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Social</label>
        <input type="number" id="Social1" name="Social" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Computer</label>
        <input type="number" id="Computer1" name="Computer" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Arts</label>
        <input type="number" id="Arts1" name="Arts" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Conduct</label>
        <input type="number" id="Conduct1" name="Conduct" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Attendance</label>
        <input type="number" id="Attendance1" name="Attendance" required max="50" min="0">
        <br />
        <br />
        <label class="col-lg-3">Grade</label>
        <input type="text" id="Class1" name="Class" readonly="readonly" value="@ViewBag.student.Grade_Name" />
        <br />
        <br />
        <label class="col-lg-3">Semester</label>
        <select name="Semester" id="semester1">
            <option>1</option>
            <option>2</option>
        </select>

        <br />
        <br />
        <input type="submit" id="Update_course_marks" value="Update Marks" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="add_marks" name="add_marks" onclick="show()" value="Add Student Marks" />
        <div id="dialog" hidden>
            <label>Select Semester</label>
            <select id="sem" name="sem" >
                <option>1</option>
                <option>2</option>
            </select>
        </div>
    </div>
    }

    <div id="no_data" hidden>
        <h2>No data for selected semester</h2>
    </div>
    <script>
        function show() {
            $("#add_grades").show();
            $("#edit_grades").hide();
            $("#std_detail").hide();
            
        }
         
        function show1(e, data1) {
            e.preventDefault();
            $('#dialog').dialog();
            $('#dialog').dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            buttons: {
                "OK": function () {
                    var s = $('#sem').val();
                    var g = $('#s_grade').val();
                    
                    $.ajax({
                        data: { 'id': data1, 'semester': s, 'grade': g },
                        type: "post",
                        url: "/Student/Edit_Marks",
                        success: function (data) {
                            if (data.length > 0) {
                                $("#add_grades").hide();
                                $("#edit_grades").show();
                                $("#std_detail").hide();
                                 
                                $('#Islamic_Studies1').val(data[0].islamic_Studies);
                                $('#Quran1').val(data[0].quran);
                                $('#Arabic1').val(data[0].arabic)
                                $('#English1').val(data[0].english)
                                $('#Maths1').val(data[0].maths)
                                $('#Science1').val(data[0].science)
                                $('#Social1').val(data[0].social)
                                $('#Computer1').val(data[0].computer)
                                $('#Arts1').val(data[0].arts)
                                $('#Conduct1').val(data[0].conduct)
                                $('#Attendance1').val(data[0].attendance)
                                $('#Class1').val(data[0].class)
                                $('#semester1').val(data[0].semester)
                            }
                            else {
                                $("#add_grades").hide();
                                $("#edit_grades").hide();
                                $("#std_detail").hide();
                                $('#no_data').show();
                            }
                            
                        },
                        

                    });
                    

                    $(this).dialog("destroy");
                    
                    
                    
                },
                "Cancel": function () {

                    $(this).dialog("destroy");
                    
                }
                }
                
            

            });

            
            

        }
    </script>
</body>


