﻿@model LMS.Models.student
@{
    ViewData["Title"] = "Edit Student";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<body>
    <h2>Edit Student @Model.Name_Arabic</h2>

    <div class="container col-lg-10">
        @using (Html.BeginForm("Update_student", "Student", FormMethod.Post))
        {
            <br />
            <label class="col-lg-3">Student Roll Number</label>
            <input type="text" readonly="readonly" id="s_id" name="Roll" value="@Model.Roll" required>
            <br />
            <br />
            <label class="col-lg-3">Student Name (English)</label>
            <input type="text" id="s_name_e" name="Name_English" value="@Model.Name_English" required>
            <br />
            <br />
            <label class="col-lg-3">Student Name (Arabic)</label>
            <input type="text" id="s_name_a" name="Name_Arabic" value="@Model.Name_Arabic" required>
            <br />
            <br />
            <label class="col-lg-3">Gender</label>
            <select id="s_gender" name="Gender" required>
                @if (Model.Gender == "Male")
                {
                    <option selected>Male</option>
                    <option>Female</option>
                }
                else
                {
                    <option selected>Female</option>
                    <option>Male</option>
                }
            </select>
            <br />
            <br /> <label class="col-lg-3">Date of Birth</label>
            <input type="date" id="s_dob" name="DOB" value=@Model.DOB required>
            <br />
            <br />
            <label class="col-lg-3">Place of Birth</label>
            <select id="s_pob" name="POB" required>
                <option name="POB" selected>@Model.POB</option>
                @foreach (var c in ViewBag.country)
                {

                    var d = Model.POB;
                    if (c.ToString() != d)
                    {

                        <option name="POB">@c.Country</option>
                    }
                }
            </select>
            <br />
            <br />
            <label class="col-lg-3">Nationality (English)</label>
            <select id="s_nationality_e" name="Nationality_English" required>
                <option name="POB" selected>@Model.Nationality_English</option>
                @foreach (var c in ViewBag.country)
                {

                    var d = Model.POB;
                    if (c.ToString() != d)
                    {

                        <option name="Nationality_English">@c.Country</option>
                    }
                }
            </select>
            <br />
            <br />
            <label class="col-lg-3">Nationality (Arabic)</label>
            <input type="text" id="s_nationality_a" name="Nationality_Arabic" value="@Model.Nationality_Arabic" required>
            <br />
            <br />
            <label class="col-lg-3">Phone Number</label>
            <input type="text" id="s_phn" name="phone" value="@Model.phone" required>
            <br />
            <br />
            <label class="col-lg-3">Passport Number</label>
            <input type="text" id="s_passport" name="Passport_Number" value="@Model.Passport_Number" required>
            <br />
            <br />
            <label class="col-lg-3">Iqama Number</label>
            <input type="text" id="s_iqama" name="Iqama_Number" value="@Model.Iqama_Number" required>
            <br />
            <br />
            <label class="col-lg-3">Previous School (English)</label>
            <input type="text" id="s_p_school_e" name="Previous_School_English" value="@Model.Previous_School_English" required>
            <br />
            <br />
            <label class="col-lg-3">Previous School (Arabic)</label>
            <input type="text" id="s_p_school_a" name="Previous_School_Arabic" value="@Model.Previous_School_Arabic" required>
            <br />
            <br />
            <label class="col-lg-3">Date of Admission</label>
            <input type="date" id="s_doa" name="Date_Of_Admission" value="@Model.Date_Of_Admission" required>
            <br />
            <br />
            <label class="col-lg-3">Student Grade</label>
            <select name="Grade_Name">
                <option>@Model.Grade_Name</option>
                @foreach (var v in ViewBag.grades)
                {
                    <option name="Grade_Name">@v.Complete_Grade_Name</option>
                }
            </select>

            <br />
            <br />
            <label class="col-lg-3">Student Grade (Arabic)</label>
            <select name="Grade_Name_Arabic">
                <option>@Model.Grade_Name_Arabic</option>
                @foreach (var v in ViewBag.grades)
                {
                    <option name="Grade_Name">@v.Complete_Grade_Name_Arabic</option>
                }
            </select>
            <br />
            <br />
            <input type="submit" id="update_student" name="update_student" value="Update Student" />

            <br />
            <br />

        }

    </div>

    
</body>