﻿body {
}
nav{
    width:100%;
    height:65px;
    background-color:#777;
}

nav ul{
    float:left;
}
nav ul li{
    float:left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial;
    font-size: 16px;
    color: white;
    padding: 21px 12px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    background-color:green;
    color: white;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 0px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li{
    width: 150px;
}

nav ul li ul li a {
    padding: 5px 12px;
}

nav ul li ul li a:hover {
    background-color:green;
}