﻿@model LMS.Models.login
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
<style>
    /* Style all input fields */
    input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

        /* Style the submit button */
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
        }

    /* Style the container for inputs */
    .container {
        background-color: #f1f1f1;
        padding: 20px;
    }

    /* The message box is shown when the user clicks on the password field */
    #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

        #message p {
            padding: 10px 35px;
            font-size: 18px;
        }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
</style>
</head>
<body>

    <h2 style="text-align:center">Welcome to AL Naseem International School Admin Panel</h2>
    <h3 style="text-align:center">Login Please</h3>

    <div class="container">
        @using (Html.BeginForm("Validate", "Login", FormMethod.Post))
        {
            <label for="usrname">Username</label>
            <input type="text" id="usrname" name="username" required>

            <label for="psw">Password</label>
            <input type="password" id="psw" name="password"   required>
            <input type="submit" value="Submit" />
        }
    </div>

    

</body>