﻿@model IEnumerable<LMS.Models.Previous_Classes_of_Students>
@{
    ViewData["Title"] = "Add_Result";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<head>
    <style>
        <style >
        div.scroll {
            background-color: #f1f1f1;
            overflow: auto;
            white-space: nowrap;
        }

        div.scroll a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 0px;
            text-decoration: none;
        }

            div.scroll a:hover {
                background-color: #f1f1f1;
            }
    </style>
    </style>
</head>
<body>
    <h1>Generate Previous Result For Student</h1>
    
    <div class="container">
        <form asp-action="generate_result" asp-controller="Student" method="post">
            <table class="table" border:0>
                <tr>
                    <th>Roll Number</th>
                    <th>Grade</th>
                    @*<th>Student Id</th>*@
                    @*<th></th>*@
                </tr>
                <tr>
                    <td><input type="text" name="Roll"></td>
                    <td>
                        <select name="Grade" style="width:100px; height:20px">
                            <option></option>
                            @foreach (var g in ViewBag.grade)
                            {
                                <option>@g.Complete_Grade_Name</option>
                            }
                        </select>
                    </td>
                    @*<td>
                        <select name="Student_Id" style="width:100px; height:20px">
                            <option></option>
                            @foreach (var g in ViewBag.student_id)
                            {
                                <option name="Grade_Name">@g.Roll</option>
                            }
                        </select>
                    </td>*@
                    @*<td><input type="text" , name="Session_Year"></td>*@
                </tr>
            </table>
            <input type="submit" value="View Student" />
            <br />
            <br />
            <button type="button" class="collapsible">View Previous Students</button>
            <div class="content">
                <div class="container pre-scrollable scroll col-lg-10">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Roll
                                </th>

                                <th>
                                    Name
                                </th>

                                <th>
                                    Iqama
                                </th>

                                <th>
                                    Passport
                                </th>
                                <th>
                                    Grade
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => s.Roll)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => s.Name_English)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => s.Iqama_Number)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => s.Passport_Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => s.Grade_Name)
                                </td>

                                <td>
                                    @Html.ActionLink("Result", "P_Result", "Student", new { Roll = s.Roll, Grade_Name = s.Grade_Name })
                                    @Html.ActionLink("SLC", "slc", "Student", new { Roll = s.Roll})
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </div>
     
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }


    </script>
   
</body>
