﻿@{
    ViewData["Title"] = "Add Students";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<body>
    <div class="container">

        <br />
        <h2 style="text-align:center; ">Add Students From Excel Sheet</h2>
        <br />
        <br />
        <input type="button" id="std" name="std" value="Add Students" onclick="add_students()" style="min-width:20%" class="btn btn-primary"/>
        <br />
        <br />
        <input type="button" id="sem1" name="sem1" value="Add Semester 1 Result" onclick="add_sem1_marks()" style="min-width:20%" class="btn btn-primary" />
        <br />
        <br />
        <input type="button" id="sem2" name="sem2" value="Add Semester 2 Result" onclick="add_sem2_marks()" style="min-width:20%" class="btn btn-primary" />
        @*Add students*@
        @*<input type="file" id="fileupload" name="files" class="form-control" enctype="multipart/form-data" />
        <br />
        <input type="button" name="Upload" value="Upload" id="btnupload" onclick="upload_excel_students()" enctype="multipart/form-data" class="btn btn-primary" />*@


        @*<input type="button" onclick="add_country()" value="Add countries" />*@
        <br />
        <br />
        <input type="submit" onclick="promote_students(event)" value="Promote Students to Next Class" style="min-width:20%" class="btn btn-primary" />
        <span id="status" hidden></span>
        <br />
        <br />
        @*<input type="file" id="fileupload" name="files" class="form-control" />
        <br />
        <br />
        <input type="button" name="Upload" value="Upload" id="btnupload" onclick="upload_excel()" class="btn btn-primary" />*@

        <div id="dialog" hidden>
            <label>Are you sure you want to promote students to next classes?</label>
        </div>
    </div>
    <script type="text/javascript">

        
        //function add_country() {
        //    $.ajax({
        //        url: "/Student/add_country",
        //        success: function (response) {
        //            window.location.replace("/Student/view_dashboard");
        //        }
        //    });
        //}
        function add_students() {
            $("#status").html('<font color="Green">Updating data to database....</font>');
            $("#status").css("border-color", "Green");
            $("#status").show();
            $.ajax({
                url: "/Student/add_bulk_students",
                success: function () {
                    window.location.replace("/Student/view_dashboard");
                }
            });
        }
        function add_sem1_marks() {
            $("#status").html('<font color="Green">Updating data to database....</font>');
            $("#status").css("border-color", "Green");
            $("#status").show();
            $.ajax({
                url: "/Student/add_sem1_results",
                success: function () {
                    window.location.replace("/Student/view_dashboard");
                }
            });
        }
        function add_sem2_marks() {
            $("#status").html('<font color="Green">Updating data to database....</font>');
            $("#status").css("border-color", "Green");
            $("#status").show();
            $.ajax({
                url: "/Student/add_sem2_results",
                success: function () {
                    window.location.replace("/Student/view_dashboard");
                }
            });
        }
        function promote_students(e) {
                e.preventDefault();

                $('#dialog').dialog();
                $('#dialog').dialog({

                    autoOpen: false,
                    modal: true,
                    resizable: false,
                    buttons: {
                        "OK": function () {
                            $("#status").html('<font color="Green">Updating data to database....</font>');
                            $("#status").css("border-color", "Green");
                            $("#status").show();
                            $.ajax({

                                
                                url: "/Student/promote_to_next_class",
                                success: function () {

                                    window.location.replace("/Student/view_dashboard");
                                }

                            });

                            $(this).dialog("close");

                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }

                });

        }

        function upload_excel_students() {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                
                if ($.inArray(extension, fileExtension) == -1) {
                    
                    alert("Please select only excel files.");
                    
                    return false;
                    
                }
                
            }
            
            var fdata = new FormData();
            
            var fileUpload = $("#fileupload").get(0);
            
            var files = fileUpload.files;
            
            fdata.append(files[0].name, files[0]);
            
            $.ajax({
                url: '@Url.Action("Read_excel", "Student")',
                type: "POST",
                beforeSend: function(xhr) {

                    xhr.setRequestHeader("XSRF-TOKEN",

                        $('input:hidden[name="__RequestVerificationToken"]').val());
                    
                },
                
                data: fdata,
                contentType: false,
                processData: false,
                
                success: function (response) {
                    
                    if (response.length == 0)
                        
                    alert('If you are uploading students then filename should be Students.xls, if sem1 result then Semester1.xls and if sem2 result then Semester2.xls ');
                    
                    else {
                    
                        window.location.replace("/Student/view_dashboard");
                    
                    }

                },
                
                error: function (e) {
                    
                    $('#divPrint').html(e.responseText);
                    
                }

            });
        
        


        }

        

          
    </script>
</body>