﻿@model LMS.Models.student

@{
    ViewData["Title"] = "Student Info";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div.scroll {
            background-color: #f1f1f1;
            overflow: auto;
            white-space: nowrap;
        }

        div.scroll a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 0px;
            text-decoration: none;
        }

            div.scroll a:hover {
                background-color: #f1f1f1;
            }
    </style>
</head>
<body>

    <h2 style="margin:30px">Student Information</h2>
    @if (ViewBag.message != null)
    {
        <span id="message" style="color:green; font-size:200%">@ViewBag.message</span>
    }




    <button type="button" class="collapsible">Add New Student</button>
    <div class="content">
        <div class="container col-lg-10">
            <form method="post" asp-action="Add" asp-controller="Student">
                <br />
                <label class="col-lg-3">Student Roll Number</label>
                <input type="number" placeholder="Enter Student's Roll Number" min="1" id="s_id" name="Roll" required>
                <br />
                <br />
                <label class="col-lg-3">Student Grade</label>
                <select name="Grade_Name">
                    <option>Please Select</option>
                    @foreach (var g in ViewBag.grade)
                    {
                        <option name="Grade_Name">@g.Complete_Grade_Name</option>
                    }
                </select>
                <br />
                <br />
                <label class="col-lg-3">Student Grade (Arabic)</label>
                <select name="Grade_Name_Arabic">
                    <option>Please Select</option>
                    @foreach (var g in ViewBag.grade)
                    {
                        <option name="Grade_Name">@g.Complete_Grade_Name_Arabic</option>
                    }
                </select>
                <br />
                <br />
                <label class="col-lg-3">Student Name (English)</label>
                <input type="text" placeholder="Enter Name in English" id="s_name_e" name="Name_English" required>
                <br />
                <br />
                <label class="col-lg-3">Student Name (Arabic)</label>
                <input type="text" placeholder="Enter Name in Arabic" id="s_name_a" name="Name_Arabic" required>
                <br />
                <br />
                <label class="col-lg-3">Gender</label>
                <select id="Gender" name="Gender" required>
                    <option>Female</option>
                    <option>Male</option>
                </select>
                <br />
                <br />
                <label class="col-lg-3">Date of Birth</label>
                <input type="date" placeholder="Enter DOB" id="s_dob" name="DOB" required>
                <br />
                <br />
                <label class="col-lg-3">Place of Birth</label>
                @*<input type="text" placeholder="Enter POB" id="s_pob" name="POB" required>*@
                <select id="s_pob" name="POB" required>
                    <option>Please Select</option>
                    @foreach (var c in ViewBag.country)
                    {
                        <option name="POB">@c.Country</option>
                    }
                </select>
                <br />
                <br />
                <label class="col-lg-3">Nationality (English)</label>
                @*<input type="text" placeholder="Enter Nationality in English" id="s_nationality_e" name="Nationality_English" required>*@
                <select id="s_nationality_e" name="Nationality_English" required>
                    <option>Please Select</option>
                    @foreach (var c in ViewBag.country)
                    {
                        <option name="Nationality_English">@c.Country</option>
                    }
                </select>
                <br />
                <br />
                <label class="col-lg-3">Nationality (Arabic)</label>
                <input type="text" placeholder="Enter Nationality in Arabic" id="s_nationality_a" name="Nationality_Arabic" required>
                <br />
                <br />
                <label class="col-lg-3">Phone Number</label>
                <input type="text" placeholder="00000000" id="s_phn" name="phone" required>
                <br />
                <br />
                <label class="col-lg-3">Passport Number</label>
                <input type="text" placeholder="Enter Student's Passport" id="s_passport" name="Passport_Number" required>
                <br />
                <br />
                <label class="col-lg-3">Iqama Number</label>
                <input type="text" placeholder="Enter Student's Iqama" id="s_iqama" name="Iqama_Number" required>
                <br />
                <br />
                <label class="col-lg-3">Previous School (English)</label>
                <input type="text" placeholder="Enter Student's Previous School in English" id="s_p_school_e" value="----" name="Previous_School_English" required>
                <br />
                <br />
                <label class="col-lg-3">Previous School (Arabic)</label>
                <input type="text" placeholder="Enter Student's Previous School in Arabic" value="----" id="s_p_school_a" name="Previous_School_Arabic" required>
                <br />
                <br />
                <label class="col-lg-3">Date of Admission</label>
                <input type="date" placeholder="Enter Student's Date of Admission" id="s_doa" name="Date_Of_Admission" required>
                <br />
                <br />

                <input type="submit" id="add_student" onclick="check_values_not_null(event)" name="add_student" style="background-color:grey;" value="Add Student" />
                <br />
                <br />

            </form>
        </div>
    </div>

    <button type="button" class="collapsible">View Students</button>
    <div class="content">
        <br />
        <div class="container" id="view_std">
            <form asp-action="filter_std" asp-controller="Student" method="post">
                <label>Grade</label>
                <select id="filter_std" name="filter_std" style="width:100px; height:20px">
                    <option></option>
                    @foreach (var g in ViewBag.grade)
                    {
                        <option id="filter_std" name="Grade_Name">@g.Complete_Grade_Name</option>
                    }
                </select>
                <label>
                    <span>Iqama</span>
                    <input type="text" name="iqama" />
                </label>
                <label>
                    <span>Passport</span>
                    <input type="text" name="passport" />
                </label>
                <label>
                    <span>Roll Number</span>
                    <input type="text" name="roll" />
                </label>
                <input type="submit" value="Search" />
            </form>
        </div>
        <br />
        <div class="pre-scrollable scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th style="position:sticky">
                            Roll Number
                        </th>
                        <th style="position:sticky">
                            Name
                        </th>
                        <th style="position:sticky">
                            Nationality
                        </th>
                        <th style="position:sticky">
                            Passport Number
                        </th>
                        <th style="position:sticky">
                            Iqama Number
                        </th>
                        <th style="position:sticky">
                            Grade
                        </th>
                        <th style="position:sticky">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var v in ViewBag.student)
                    {
                        <tr>
                            <td>@v.Roll</td>
                            <td>@v.Name_English</td>
                            <td>@v.Nationality_Arabic</td>
                            <td>@v.Passport_Number</td>
                            <td>@v.Iqama_Number</td>
                            <td>@v.Grade_Name</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Student", new { Roll = v.Roll })
                                @Html.ActionLink("Detail", "Details", "Student", new { Roll = v.Roll })
                                @Html.ActionLink("Delete", "Delete", "Student", new { Roll = v.Roll }, new { onclick = "confirm_dialog(event," + v.Roll + ")" })
                                @Html.ActionLink("SLC", "slc", "Student", new { Roll = v.Roll })
                                @Html.ActionLink("Result", "Result", "Student", new { Roll = v.Roll, Grade_Name = v.Grade_Name })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div id="dialog" title="Delete Student" hidden>
            <p>Do you want to Delete student </p>
        </div>

    </div>
    <button type="button" class="collapsible">View Students (In Active)</button>
    <div class="content">
        <br />
        <div class="container" id="view_std">
            <form asp-action="filter_std" asp-controller="Student" method="post">
                <label>Grade</label>
                <select id="filter_std" name="filter_std" style="width:100px; height:20px">
                    <option></option>
                    @foreach (var g in ViewBag.grade)
                    {
                        <option id="filter_std" name="Grade_Name">@g.Complete_Grade_Name</option>
                    }
                </select>
                <label>
                    <span>Iqama</span>
                    <input type="text" name="iqama" />
                </label>
                <label>
                    <span>Passport</span>
                    <input type="text" name="passport" />
                </label>
                <label>
                    <span>Roll Number</span>
                    <input type="text" name="roll" />
                </label>
                <input type="submit" value="Search" />
            </form>
        </div>
        <br />
        <div class="pre-scrollable">
            @if (ViewBag.student1 != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="position:sticky">
                                Roll Number
                            </th>
                            <th style="position:sticky">
                                Name
                            </th>
                            <th style="position:sticky">
                                Nationality
                            </th>
                            <th style="position:sticky">
                                Passport Number
                            </th>
                            <th style="position:sticky">
                                Iqama Number
                            </th>
                            <th style="position:sticky">
                                Grade
                            </th>
                            <th style="position:sticky">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var v in ViewBag.student1)
                        {
                            <tr>
                                <td>@v.Roll</td>
                                <td>@v.Name_English</td>
                                <td>@v.Nationality_Arabic</td>
                                <td>@v.Passport_Number</td>
                                <td>@v.Iqama_Number</td>
                                <td>@v.Grade_Name</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Student", new { Roll = v.Roll })
                                    @Html.ActionLink("Detail", "Details", "Student", new { Roll = v.Roll })
                                    @Html.ActionLink("Active", "Active_Student", "Student", new { Roll = v.Roll }, new { onclick = "confirm_dialog_active(event," + v.Roll + ")" })
                                    
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div style="text-align:center">No In Active User</div>
            }
        </div>
        <div id="dialog1" title="Activate Student" hidden>
            <p>Do you want to Active a student </p>
        </div>
    </div>






    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }


    </script>


    <script>

        $(document).ready(function () {
            $("#message").show(function () {
                setTimeout(function () {
                    $('#message').fadeOut();
                }, 3000);
            });
        });
    </script>
    
    <script type="text/javascript">

        function confirm_dialog(e, data) {
            e.preventDefault();
            $('#dialog').dialog();
            $('#dialog').dialog({

                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "OK": function () {
                        $.ajax({
                            data: { 'id': data },
                            url: "/Student/Delete",
                            success: function () {

                                window.location.replace("/Student/view_dashboard");
                            }

                        });

                        $(this).dialog("destroy");

                    },
                    "Cancel": function () {
                        $(this).dialog("destroy");
                    }
                }

            });





        }

        function confirm_dialog_active(e, data) {
            e.preventDefault();

            $('#dialog1').dialog();
            $('#dialog1').dialog({

                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "OK": function () {
                        $.ajax({

                            data: { 'id': data },
                            url: "/Student/Active_Student",
                            success: function () {

                                window.location.replace("/Student/view_dashboard");
                            }

                        });

                        $(this).dialog("close");

                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }

            });

        }


    </script>
</body>
</html>