﻿@model LMS.Models.Previous_Classes_of_Students
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Card</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/my.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<style>
    #fixedheight {
        table-layout: fixed;
    }

        #fixedheight td {
            height: 20px;
            overflow: hidden;
            width: 25%;
        }

    .border1 {
        border: 1px solid black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .border_radius {
        border: 1px solid black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .font_size0 {
        font-size: 140%
    }

    .font_size1 {
        font-size: 125%;
    }

    .font_size2 {
        font-size: 100%;
    }

    .font_size_align_width {
        font-size: 80%;
        width: 12%;
        text-align: center;
    }
</style>
<body>

    <div class="container" style="align-content:center;     margin-top: -3%;">
        <div class="row" style="width: 100%; padding-top:2%">
            <div class="col">
                <table border="0">
                    <tr>
                        <th class="font_size1">
                            KINGDOM OF SAUDI ARABIA
                        </th>
                        <th rowspan="5" style="padding-left:7%;">
                            <img src="~/images/pic 1.png" />
                        </th>
                        <th rowspan="5" style="padding-left: 9%; padding-right:6%">
                            <img src="~/images/pic 2.png" />
                        </th>
                        <th class="font_size1" style="text-align:right">
                            المملكة العربية السعودية
                        </th>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            Ministry of Education
                        </td>
                        <td class="font_size2" style="text-align:center">
                            وزارة التعليم
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            Directorate General of Education in Riyadh
                        </td>
                        <td class="font_size2" style="text-align:right">
                            الادارة العامة للتعليم بمنطقة  بالرياض
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            Private Education Office
                        </td>
                        <td class="font_size2" style="text-align:right">
                            مكتب التعليم الاهلي بمنطقة بالرياض
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">

            <table style="width:100%">
                <tr>
                    <th class="font_size0" width="6 0%">
                        AL-NASEEM INTERNATIONAL EDU. SCHOOL
                    </th>
                    <th class="font_size0" width="40%" style="text-align:right">
                        مدرسة النسيم التعليمية العالمية
                    </th>
                </tr>
            </table>

        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table border="0" style="width:100%">
                    <tr>
                        <td>
                            Curriculunm: British
                        </td>
                        <td class="font_size2" style="text-align:right">
                            المنهج: البريطانية
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            License No: 4360140139
                        </td>
                        <td class="font_size2" style="text-align:right">
                            رقم الترخيص:4360140139
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <label style="text-align:center; width:100%" class="font_size2">كشف درجات الصف: &nbsp;&nbsp;@ViewBag.arabic_grade</label>

            <label style="text-align:center; width:100%" class="font_size2">Certificate: &nbsp;&nbsp; @ViewBag.num</label>
        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table border="0" style="width:100%">
                    <tr>
                        <td class="border_radius" style="width:45%;">
                            <table border="0">

                                <tr>
                                    <td style="width:15%; padding:0.5%;">
                                        Student's Name:
                                    </td>
                                    <th style="width:30%;" rowspan="2">
                                        <span style=" word-wrap: break-word; ">@Html.DisplayFor(x => x.Name_English)</span><br />
                                    </th>
                                </tr>
                                <tr>

                                    <td style="width:15%; padding:1%;"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Nationality:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Nationality_English)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Place/Date of Birth:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.DOB), @Html.DisplayFor(x => x.POB)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        ID No:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Passport_Number)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Iqama No:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Iqama_Number)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Admission Date:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Date_Of_Admission)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Previous School:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Previous_School_English)</th>
                                </tr>




                            </table>
                        </td>

                        <td style="width:10%; text-align: center; font-size:90%">
                            العام الدراسي<br />
                            @ViewBag.session1-@ViewBag.session G<br />
                            @ViewBag.islamic_session1-@ViewBag.islamic_session H
                            <br />
                            <br />
                            Student Marks<br />
                            درجات الطالب
                        </td>

                        <td class="border_radius" style="width:45%;">
                            <table>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Name_Arabic)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :اسم الطالب/ة
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Nationality_Arabic)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :الجنسية

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.DOB), @Html.DisplayFor(x => x.POB)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :مكان / تاريخ الولادة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Passport_Number)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :رقم جواز السفر

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Iqama_Number)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :السجل المدني أو الاقامة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Date_Of_Admission)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :تاريخ الالتحاق بالمدرسة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Previous_School_Arabic)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :اسم المدرسة السابقة

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%; padding-top:0.5%">
            <div class="col">

                <table class="table-condensed" border="1" style="width:100%">

                    <thead style="text-align:center">
                        <tr border-color:black;>
                            <th style="text-align:center; width:16%; padding-bottom:1%">Subject</th>
                            <th class="font_size_align_width" style="padding-bottom:1%">المواد الدراسية</th>
                            <th class="font_size_align_width">
                                1st Semester <br />
                                الفصل الدراسي الأول
                            </th>

                            <th class="font_size_align_width">
                                2nd Semester<br />
                                الفصل الدراسي الثاني
                            </th>

                            <th class="font_size_align_width">
                                TOTAL<br />
                                المجموع
                            </th>
                            <th class="font_size_align_width">
                                Average<br />
                                المعدل
                            </th>
                            <th class="font_size_align_width">
                                Credit Hours<br />
                                الساعات الدراسية
                            </th>
                            <th class="font_size_align_width">
                                Grading<br />
                                الدرجات
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        <tr>
                            <th style="text-align:center">Quran</th>
                            <th style="text-align:center">القران</th>
                            <td>@ViewBag.marks.Quran</td>

                            <td>@ViewBag.marks1.Quran</td>
                            <td>@ViewBag.total.Quran</td>
                            <td>@ViewBag.total.Quran</td>
                            <td>@ViewBag.credits.Quran</td>
                            <td>@ViewBag.grade_letter.Quran</td>

                        </tr>
                        <tr>
                            <th style="text-align:center; white-space:pre-wrap; ">Islamic Studies</th>
                            <th style="text-align:center">التربية الإسلامية</th>
                            <td>@ViewBag.marks.Islamic_Studies</td>
                            <td>@ViewBag.marks1.Islamic_Studies</td>
                            <td>@ViewBag.total.Islamic_Studies</td>
                            <td>@ViewBag.total.Islamic_Studies</td>
                            <td>@ViewBag.credits.Islamic_Studies</td>
                            <td>@ViewBag.grade_letter.Islamic_Studies</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Arabic</th>
                            <th style="text-align:center">اللغة العربية</th>
                            <td>@ViewBag.marks.Arabic</td>
                            <td>@ViewBag.marks1.Arabic</td>
                            <td>@ViewBag.total.Arabic</td>
                            <td>@ViewBag.total.Arabic</td>
                            <td>@ViewBag.credits.Arabic</td>
                            <td>@ViewBag.grade_letter.Arabic</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">English</th>
                            <th style="text-align:center"> اللغة الإنجليزية</th>
                            <td>@ViewBag.marks.English</td>
                            <td>@ViewBag.marks1.English</td>
                            <td>@ViewBag.total.English</td>
                            <td>@ViewBag.total.English</td>
                            <td>@ViewBag.credits.English</td>
                            <td>@ViewBag.grade_letter.English</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Maths</th>
                            <th style="text-align:center">رياضيات</th>
                            <td>@ViewBag.marks.Maths</td>
                            <td>@ViewBag.marks1.Maths</td>
                            <td>@ViewBag.total.Maths</td>
                            <td>@ViewBag.total.Maths</td>
                            <td>@ViewBag.credits.Maths</td>
                            <td>@ViewBag.grade_letter.Maths</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Science</th>
                            <th style="text-align:center">علوم</th>
                            <td>@ViewBag.marks.Science</td>
                            <td>@ViewBag.marks1.Science</td>
                            <td>@ViewBag.total.Science</td>
                            <td>@ViewBag.total.Science</td>
                            <td>@ViewBag.credits.Science</td>
                            <td>@ViewBag.grade_letter.Science</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Social Studies</th>
                            <th style="text-align:center">اجتماعيات</th>
                            <td>@ViewBag.marks.Social</td>
                            <td>@ViewBag.marks1.Social</td>
                            <td>@ViewBag.total.Social</td>
                            <td>@ViewBag.total.Social</td>
                            <td>@ViewBag.credits.Social</td>
                            <td>@ViewBag.grade_letter.Social</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Computer</th>
                            <th style="text-align:center">الحاسب الآلي </th>
                            <td>@ViewBag.marks.Computer</td>
                            <td>@ViewBag.marks1.Computer</td>
                            <td>@ViewBag.total.Computer</td>
                            <td>@ViewBag.total.Computer</td>
                            <td>@ViewBag.credits.Computer</td>
                            <td>@ViewBag.grade_letter.Computer</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Arts</th>
                            <th style="text-align:center">التربية الفنية</th>
                            <td>@ViewBag.marks.Arts</td>
                            <td>@ViewBag.marks1.Arts</td>
                            <td>@ViewBag.total.Arts</td>
                            <td>@ViewBag.total.Arts</td>
                            <td>@ViewBag.credits.Arts</td>
                            <td>@ViewBag.grade_letter.Arts</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Conduct</th>
                            <th style="text-align:center">السلوك</th>
                            <td>@ViewBag.marks.Conduct</td>
                            <td>@ViewBag.marks1.Conduct</td>
                            <td>@ViewBag.total.Conduct</td>
                            <td>@ViewBag.total.Conduct</td>
                            <td>0</td>
                            <td>@ViewBag.grade_letter.Conduct</td>

                            @*<td rowspan="3" style="text-align:center; padding-top:1.5%"><b style="font-size:130%">GPA</b></td>
            <td rowspan="3" style="text-align:center;  padding-top:1.5%" ;><b style="font-size:130%">@ViewBag.cgpa</b></td>*@
                        </tr>
                        <tr>
                            <th style="text-align:center">Attendance</th>
                            <th style="text-align:center">المواظبة</th>
                            <td>@ViewBag.marks.Attendance</td>
                            <td>@ViewBag.marks1.Attendance</td>
                            <td>@ViewBag.total.Attendance</td>
                            <td>@ViewBag.total.Attendance</td>
                            <td>0</td>
                            <td>@ViewBag.grade_letter.Attendance</td>


                        </tr>
                        <tr>
                            <th style="text-align:center">Total</th>
                            <th style="text-align:center">المجموع</th>
                            <td>@ViewBag.total.Total_Sem_1</td>
                            <td>@ViewBag.total.Total_Sem_2</td>
                            @*<td>@ViewBag.total.Total_Sem_2</td>*@
                            <td><b>@ViewBag.total.Total_Marks</b></td>
                            <td>@ViewBag.average</td>
                            <td><b>GPA</b></td>
                            <td><b>@ViewBag.cgpa</b></td>

                        </tr>
                        <tr>
                            <th colspan="4" style="text-align:right; font-size: 20px;">
                                @ViewBag.result_generated_date
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                :تم تحرير الشهادة بتاريخ
                            </th>
                            <th colspan="4" style="text-align:right; font-size: 20px;">
                                نتيجة الطالب/ة:
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @ViewBag.gender @ViewBag.a_promoted
                            </th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table class="table" cellpadding="0" cellspacing="0" border="0" style="border-top:none;">
                    <tr style="border-top: none">
                        <th style="border-top: none; width:33%">School Principal<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; قائدة مدرسة </th>
                        <th style="border-top: none; width:33%; text-align:center">Exam Control<br />رئيسة لجنة النظام والمراقبة</th>
                        <th style="border-top: none; width:33%; text-align:right">Result:    Promoted to: <label style="border:1px solid"> &nbsp;@ViewBag.e_promoted&nbsp;</label><br /><br />Private Education Office<br />مصادقة مكتب التعليم الأهلي بمنطقة الرياض</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table class="table" cellpadding="0" cellspacing="0" border="0" style="border-top: none; margin-top: -2.5%;">
                    <tr style="border-top: none">
                        <td style="border-top: none;">الاسم: نهلاء سعد المطيري  </td>
                        <td style="border-top: none; text-align:left; padding-right: 3%;">Mrs. Nighat Sultana :الاسم </td>
                        <td style="border-top: none; width: 22%; padding:5%; border:1px solid black; text-align:center" rowspan="6"> Stamp </td>
                    </tr>
                    <tr style="border-top: none;">
                        <td style="border-top:none; "></td>
                        <td style="border-top: none; text-align:left"> </td>

                    </tr>
                    <tr style="border-top: none;">
                        <td style="border-top: none ">______________________:التوقيع </td>
                        <td style="border-top:none; text-align:left">______________________:التوقيع </td>

                    </tr>
                    <tr style="border-top: none">
                        <td style="border-top:none">______________________:التاريخ</td>
                        <td style="border-top:none; text-align:left"> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="text-align:center; color:#d8d8d8">School Stamp</div>

        <div style="text-align:center; padding-top: 15%;margin-bottom: 0%;">هذه الوثيقة يجب المحافظة عليها ولن يصدر بدلا منها الا بتوفر الضوابط والشروط المعتمدة لذلك</div>

    </div>
</body>


