﻿@model LMS.Models.Previous_Classes_of_Students
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Card</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/my.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<style>
    #fixedheight {
        table-layout: fixed;
    }

        #fixedheight td {
            height: 20px;
            overflow: hidden;
            width: 25%;
        }

    .border1 {
        border: 1px solid black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .border_radius {
        border: 1px solid black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .font_size0 {
        font-size: 140%
    }

    .font_size1 {
        font-size: 125%;
    }

    .font_size2 {
        font-size: 100%;
    }

    .font_size3 {
        font-size: 100%;
    }

    .font_size4 {
        font-size: 110%;
    }

    .font_size_align_width {
        font-size: 80%;
        width: 25%;
        text-align: center;
    }

    .column {
        width: 33.33%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <div class="container" style="align-content:center;     margin-top: 0%;">
        <div class="row" style="width: 100%; padding-top:2%">
            <div class="col">
                <table border="0">
                    <tr>
                        <th class="font_size1">
                            KINGDOM OF SAUDI ARABIA
                        </th>
                        <th rowspan="5" style="padding-left:7%;">
                            <img src="~/images/pic 1.png" />
                        </th>
                        <th rowspan="5" style="padding-left: 9%; padding-right:6%">
                            <img src="~/images/pic 2.png" />
                        </th>
                        <th class="font_size1" style="text-align:right">
                            المملكة العربية السعودية
                        </th>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            Ministry of Education
                        </td>
                        <td class="font_size2" style="text-align:center">
                            وزارة التعليم
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            Directorate General of Education in Riyadh
                        </td>
                        <td class="font_size2" style="text-align:right">
                            الادارة العامة للتعليم بمنطقة  بالرياض
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            Private Education Office
                        </td>
                        <td class="font_size2" style="text-align:right">
                            مكتب التعليم الاهلي بمنطقة بالرياض
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">

            <table style="width:100%">
                <tr>
                    <th class="font_size0" width="6 0%">
                        AL-NASEEM INTERNATIONAL EDU. SCHOOL
                    </th>
                    <th class="font_size0" width="40%" style="text-align:right">
                        مدرسة النسيم التعليمية العالمية
                    </th>
                </tr>
            </table>

        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table border="0" style="width:100%">
                    <tr>
                        <td>
                            Curriculunm: British
                        </td>
                        <td class="font_size2" style="text-align:right">
                            المنهج: البريطانية
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size2">
                            License No: 4360140139
                        </td>
                        <td class="font_size2" style="text-align:right">
                            رقم الترخيص:4360140139
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column" style="float:left">
                <label style="text-align:left;" class="font_size4">Private Education Office in Riyadh</label>
            </div>
            @*<div class="column" style="float:left;">
                <label style="text-align:center; padding-left: 15%;" class="font_size3">@ViewBag.heading_a</label>
            </div>*@
            <div class="column" style="float:right">
                <label style="text-align:right; padding-left: 35%;" class="font_size4">مكتب التعليم الاهلي بمنطقة بالرياض</label>
            </div>

        </div>
        <div class="font_size3" style="text-align:center; margin-top:0%">
            @ViewBag.heading_a
        </div>
        <div class="font_size3" style="text-align:center; margin-top:0%">
            @ViewBag.heading_e
        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table border="0" style="width:100%">
                    <tr>
                        <td class="border_radius" style="width:45%;">
                            <table border="0">

                                <tr>
                                    <td style="width:15%; padding:0.5%;">
                                        Student's Name:
                                    </td>
                                    <th style="width:30%;" rowspan="2">
                                        <span style=" word-wrap: break-word; ">@Html.DisplayFor(x => x.Name_English)</span><br />
                                    </th>
                                </tr>
                                <tr>

                                    <td style="width:15%; padding:1%;"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Nationality:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Nationality_English)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Place/Date of Birth:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.DOB), @Html.DisplayFor(x => x.POB)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        ID No:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Passport_Number)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Iqama No:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Iqama_Number)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Admission Date:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Date_Of_Admission)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Previous School:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Previous_School_English)</th>
                                </tr>




                            </table>
                        </td>

                        <td style="width:10%; text-align: center; font-size:90%">
                            العام الدراسي<br />
                            @ViewBag.session1-@ViewBag.session G<br />
                            @ViewBag.islamic_session1-@ViewBag.islamic_session H
                            <br />
                            <br />
                            <br />
                            <br />
                            Student Marks<br />
                            درجات الطالب
                        </td>

                        <td class="border_radius" style="width:45%;">
                            <table>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Name_Arabic)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :اسم الطالب/ة
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Nationality_Arabic)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :الجنسية

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.DOB), @Html.DisplayFor(x => x.POB)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :مكان / تاريخ الولادة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Passport_Number)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :رقم جواز السفر

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Iqama_Number)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :السجل المدني أو الاقامة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Date_Of_Admission)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :تاريخ الالتحاق بالمدرسة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Previous_School_Arabic)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :اسم المدرسة السابقة

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%; padding-top:0.5%">
            <div class="col">

                <table class="table-condensed" border="1" style="width:100%">

                    <thead style="text-align:center">
                        <tr border-color:black;>
                            <th class="font_size_align_width" style="padding-bottom:1%">Subject</th>
                            <th class="font_size_align_width" style="padding-bottom:1%">المواد الدراسية</th>
                            <th class="font_size_align_width">

                                @ViewBag.sem_e <br />@ViewBag.sem_a
                            </th>
                            <th class="font_size_align_width">
                                Grading<br />
                                الدرجات
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        <tr>
                            <th style="text-align:center">Quran</th>
                            <th style="text-align:center">القران</th>
                            <td>@ViewBag.total.Quran</td>
                            <td>@ViewBag.grade_letter.Quran</td>


                        </tr>
                        <tr>
                            <th style="text-align:center; white-space:pre-wrap; ">Islamic Studies</th>
                            <th style="text-align:center">التربية الإسلامية</th>
                            <td>@ViewBag.total.Islamic_Studies</td>
                            <td>@ViewBag.grade_letter.Islamic_Studies</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Arabic</th>
                            <th style="text-align:center">اللغة العربية</th>
                            <td>@ViewBag.total.Arabic</td>
                            <td>@ViewBag.grade_letter.Arabic</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">English</th>
                            <th style="text-align:center"> اللغة الإنجليزية</th>
                            <td>@ViewBag.total.English</td>
                            <td>@ViewBag.grade_letter.English</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Maths</th>
                            <th style="text-align:center">رياضيات</th>
                            <td>@ViewBag.total.Maths</td>
                            <td>@ViewBag.grade_letter.Maths</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Science</th>
                            <th style="text-align:center">علوم</th>
                            <td>@ViewBag.total.Science</td>
                            <td>@ViewBag.grade_letter.Science</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Social Studies</th>
                            <th style="text-align:center">اجتماعيات</th>
                            <td>@ViewBag.total.Social</td>
                            <td>@ViewBag.grade_letter.Social</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Computer</th>
                            <th style="text-align:center">الحاسب الآلي </th>
                            <td>@ViewBag.total.Computer</td>
                            <td>@ViewBag.grade_letter.Computer</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Arts</th>
                            <th style="text-align:center">التربية الفنية</th>
                            <td>@ViewBag.total.Arts</td>
                            <td>@ViewBag.grade_letter.Arts</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Conduct</th>
                            <th style="text-align:center">السلوك</th>
                            <td>@ViewBag.total.Conduct</td>
                            <td>@ViewBag.grade_letter.Conduct</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Attendance</th>
                            <th style="text-align:center">المواظبة</th>
                            <td>@ViewBag.total.Attendance</td>
                            <td style="text-align:left">comments:</td>


                        </tr>
                        <tr>
                            <th colspan="4" style="text-align:right; font-size: 20px;">
                                @ViewBag.result_generated_date
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                :تم تحرير الشهادة بتاريخ
                            </th>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table class="table" cellpadding="0" cellspacing="0" border="0" style="border-top:none;">
                    <tr style="border-top: none">
                        <th style="border-top: none; width:33%">School Principal<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; قائدة مدرسة </th>
                        <th style="border-top: none; width:33%; text-align:right">Exam Control<br />رئيسة لجنة النظام والمراقبة</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">
            <div class="col">
                <table class="table" cellpadding="0" cellspacing="0" border="0" style="border-top: none; margin-top: -2.5%;">
                    <tr style="border-top: none;">
                        <td style="border-top: none; text-align:center; padding-right:5%">الاسم: نهلاء سعد المطيري  </td>
                        <td style="border-top: none; text-align:right;">Mrs. Nighat Sultana :الاسم </td>
                    </tr>
                    <tr style="border-top: none;">
                        <td style="border-top: none;">__________________________:التوقيع </td>
                        <td style="border-top: none; text-align:right">__________________________:التوقيع </td>

                    </tr>
                    <tr style="border-top: none;">
                        <td style="border-top: none;">__________________________:التاريخ</td>
                        <td style="border-top: none; text-align:right">__________________________:التوقيع </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="text-align:center; color:#d8d8d8">School Stamp</div>

        <div style="text-align:center; padding-top: 20%;margin-bottom: 0%;">هذا التقرير مجرد اشعار بمستوى الطالب التحصيلي في الفصل الدراسي الأول</div>

    </div>
</body>


