﻿@model LMS.Models.Previous_Classes_of_Students
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLC</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/my.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<style>
    #fixedheight {
        table-layout: fixed;
    }

        #fixedheight td {
            height: 20px;
            overflow: hidden;
            width: 25%;
        }

    .border1 {
        border: 1px solid black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .column {
        float: left;
        width: 50%;
    }


    .border_radius {
        border: 1px solid black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .font_size0 {
        font-size: 140%
    }

    .font_size1 {
        font-size: 100%;
    }

    .font_size2 {
        font-size: 100%;
    }

    .font_size_align_width {
        font-size: 80%;
        width: 12%;
        text-align: center;
    }
</style>
<body>

    <br />
    <br />
    <br />
    <div class="container" style="align-content:center;     margin-top: -3%;">
        <div class="row" style="width:100%">

            <table style="width:100%">
                <tr>
                    <th class="font_size0" width="6 0%">
                        AL-NASEEM INTERNATIONAL EDU. SCHOOL
                    </th>
                    <th width="40%" style="text-align:right; font-size:200%">
                        مدرسة النسيم التعليمية العالمية
                    </th>
                </tr>
            </table>

        </div>
        <div class="row" style="width: 100%; padding-top:2%">
            <div class="col">
                <table border="0">
                    <tr>
                        <th class="font_size1">
                            Curriculunm: British
                        </th>
                        <th rowspan="5" style="padding-left:7%;">
                            <img src="~/images/pic 1.png" />
                        </th>
                        <th rowspan="5" style="padding-left: 5%; padding-right:0%">
                            <img src="~/images/pic 2.png" />
                        </th>
                        <th class="font_size1" style="text-align:right">
                            المنهج: البريطانية
                        </th>
                    </tr>
                    <tr>
                        <td class="font_size1">
                            <strong>License No: 4360140139</strong>
                        </td>
                        <td class="font_size1" style="text-align:right">
                            <strong> رقم الترخيص:4360140139</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size1">
                            <strong>Ministry of Education</strong>
                        </td>
                        <td class="font_size1" style="text-align:center">
                            <strong> وزارة التعليم</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size1">
                            <strong>Directorate General of Education in Riyadh</strong>
                        </td>
                        <td class="font_size1" style="text-align:right">
                            <strong> الادارة العامة للتعليم بمنطقة  بالرياض</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="font_size1">
                            <strong> Private Education Office</strong>
                        </td>
                        <td class="font_size1" style="text-align:right">
                            <strong> مكتب التعليم الاهلي بمنطقة بالرياض</strong>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="row" style="width:100%">
            <div class="col">
                <table style="width:100%; border:1px solid black">
                    <tr>
                        <th colspan="2" style="text-align:center; font-size:150%"><u>School Leaving Certificate</u></th>
                    </tr>
                    <tr>
                        <td style="width:50%;">
                            <table>

                                <tr>
                                    <td style="width:15%; padding:0.5%;">
                                        Student ID:
                                    </td>
                                    <th style="width:30%;">
                                        <span style=" word-wrap: break-word; ">@Html.DisplayFor(x => x.Roll)</span><br />
                                    </th>
                                </tr>
                                <tr>

                                    <td style="width:15%; padding:1%;">
                                        Name:
                                    </td>
                                    <th style="width:30%;" rowspan="2">
                                        <span style=" word-wrap: break-word; ">@Html.DisplayFor(x => x.Name_English)</span><br />
                                    </th>
                                </tr>
                                <tr>

                                    <td style="width:15%; padding:1%;"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Nationality:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Nationality_English)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Place/Date of Birth:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.DOB), @Html.DisplayFor(x => x.POB)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        ID No:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Passport_Number)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Iqama No:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Iqama_Number)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Admission Date:
                                    </td>
                                    <th style="width:30%;">@Html.DisplayFor(x => x.Date_Of_Admission)</th>
                                </tr>
                                <tr>
                                    <td style="width:15%; padding:1%;">
                                        Current Grade:
                                    </td>
                                    <th style="width:30%;">@ViewBag.current_grade</th>
                                </tr>




                            </table>
                        </td>



                        <td style="width:50%;">
                            <table>
                                <tr>
                                    <th style="width:20%; padding:1%; text-align:right">
                                        Date:
                                    </th>
                                    <td style="width:30%; padding-right:1%; text-align:right">
                                        @ViewBag.date
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Name_Arabic)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :اسم الطالب/ة
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Nationality_Arabic)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :الجنسية

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.DOB), @Html.DisplayFor(x => x.POB)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :مكان / تاريخ الولادة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Passport_Number)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :رقم جواز السفر

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Iqama_Number)
                                    </th>
                                    <td style="width:15%; padding-right:1%; text-align:right">
                                        :السجل المدني أو الاقامة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Date_Of_Admission)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :تاريخ الالتحاق بالمدرسة

                                    </td>
                                </tr>
                                <tr>
                                    <th style="width:30%; padding:1%; text-align:right">
                                        @Html.DisplayFor(x => x.Previous_School_Arabic)
                                    </th>
                                    <td style="width:15%;  padding-right:1%; text-align:right">
                                        :اسم المدرسة السابقة

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <th>
                            <br />
                            Al Naseem International Educational School Riyadh certifies
                            that above-mentioned student has been a student of the school
                            and has completed the Grade as shown below.
                        </th>
                        <th>
                            <br />
                            تشهد مدارس النسيم التعليمية العالمية بأن الطالب/ة
                            المذكور/ة أعلاه من إحدى طلاب/طالباتنا
                            المنتظمين في المدرسة وقد انتهى/ة
                            من الصفوف الدراسية على النحو الموضح.
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div style="margin-left:25%">
            <table border="1" style="border:1px solid black">
                <thead>
                    <tr>
                        <th style="width:20%; text-align:center">
                            Grade
                        </th>
                        <th style="width:20%; text-align:center">
                            Year
                        </th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var g in (IEnumerable<LMS.Helping_classes.Slc>)ViewBag.try1)
                    {

                        <tr>
                            <td style=" text-align:center">@g.grade</td>
                            <td style=" text-align:center">@g.session</td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>


        <br />
        <br />
        <br />

        <div class="row" style="width:100%;">
            <div class="column">
                <span style="margin-left:39%"><strong>قائدة مدرسة</strong></span>
            </div>
            <div class="column">
                <span style="margin-left:45%">
                    <strong>الختم</strong>
                </span>
            </div>
        </div>

        <div style="width:100%;">

            <div>
                <span style="margin-left:15%">
                    <strong> نهلاء سعد المطيري</strong>
                </span>
            </div>
        </div>





    </div>
</body>


