﻿@model  LMS.Models.Grade
@{
    ViewData["Title"] = "Grades";
}



<body>
    <h2 style="margin:30px">Grades Information</h2>
    <h1 id="message">@ViewBag.message</h1>

    @using (Html.BeginForm("Index", "Grade", FormMethod.Post))
    {
        <div class="container">

            <button type="button" class="collapsible">Add New Grade</button>
            <div class="content">
                <br />
                <label class="col-lg-3">Grade Number</label>
                <input placeholder="Enter Grade Number" id="g_n" name="Grade_Name" required>
                <select name="Level">
                    <option>Please Select</option>
                    <option>KG</option>
                    <option>Grade</option>
                </select>
                <br />
                <br />

                <div>
                    <label class="col-lg-3">Select Section</label>
                    @foreach (var s in ViewBag.section)
                    {
                        <label class="radio-inline">
                            <input type="radio" id="s_n" name="Section_Name" value="@s.Section_Name">@s.Section_Name
                        </label>
                    }
                </div>
                <br />
                <br />
                <span id="status"></span>
                <input type="submit" id="add_grade" name="add_grade" value="Add" style="background-color:grey; width:100px" />
                <br />
                <br />
            </div>

            <button type="button" class="collapsible">View Grades</button>
            <div class="content">
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Grade
                            </th>
                            <th>
                                Section
                            </th>
                            <th>
                                Grade in English
                            </th>
                            <th>
                                Grade in Arabic
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var v in ViewBag.grade)
                        {
                        <tr>
                            <td>@v.Grade_Name</td>
                            <td>@v.Section_Name</td>
                            <td>@v.Complete_Grade_Name</td>
                            <td>@v.Complete_Grade_Name_Arabic</td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>

        </div>

    }

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

    </script>
    <script>
        function UserCheck(e) {
            $("#status").html("Checking...");



        $.post("@Url.Action("CheckGradeAvailability", "Common")",
            {
                g_na: $("#g_n").val(),
                s_na: $("#s_n").val()
            },
            function (data) {
                alert(data)
            if (data == 0) {
                $("#status").html('<font color="Green">Available !. you can take it.</font>');
                $("#g_n").css("border-color", "Green");
                return true;
            }
            else {
                $("#status").html('<font color="Red">That name is taken.Try Another.</font>');
                $("#g_n").css("border-color", "Red");
                event.preventDefault();
                return false;


            }
        });
        }


        @*function check_user() {
            var g_na = $("#g_n").val();
            var s_na = $("#s_n").is(':checked');
            alert(s_na);
            if ($("#g_n").length > 0 && s_na) {
                alert(g_na);
                $("#status").html("Checking...");
                $.post("@Url.Action("CheckGradeAvailability", "Common")",
                    {
                        g_na: g_na,
                        s_na: $("#s_n").val()
                    },
                    function (data) {
                        alert(data)
                        if (data == 0) {
                            $("#status").html('<font color="Green">Available !. you can take it.</font>');
                            $("#g_n").css("border-color", "Green");
                            $("#add_grade").attr('disabled', false);

                        }
                        else {
                            $("#status").html('<font color="Red">That name is taken.Try Another.</font>');
                            $("#g_n").css("border-color", "Red");
                            $("#add_grade").attr('disabled', true);
                            $("#add_grade").css('backgroud-color', 'green');
                        }
                    });
            }
            }*@

    </script>
    <script>

        $(document).ready(function () {
            $("#message").show(function () {
                setTimeout(function () {
                    $('#message').fadeOut();
                }, 3000);
            });
        });
    </script>
</body>

